body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #feeabb;
	color: #333;
	margin: 0;
	padding: 0;
  }
  
  h1 {
	font-size: 3rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
  }
  
  ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	align-items: center;
	transition: opacity 0.3s ease;
  }

  ul:hover {
	color:rgb(69, 162, 243)
  }
  
  li {
	margin: 1rem;
	list-style: none;
  }
  
  details {
	cursor: pointer;
  }
  
  summary {
	font-weight: bold;
  }
  
  img {
	transition: opacity 0.3s ease;
	display: block;
	margin: auto;
	width: 500px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  img:hover {
	opacity: 0.7;
  }